@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background:
    radial-gradient(circle at top, rgba(0,255,150,0.15), transparent 35%),
    radial-gradient(circle at bottom, rgba(0,150,255,0.12), transparent 35%),
    #050505;

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: all .3s ease;
}

button:hover {
  transform: scale(1.03);
}

input {
  transition: all .3s ease;
}

input:focus {
  border-color: #00ff99;
  box-shadow: 0 0 20px rgba(0,255,150,.25);
}